#PARTIAL#
#REPOSITORY_MATCH discovery-service,ecr-retagger,federationmanager,idp,image-scanner,kubeval-tools,lambda-promtail,oidc_relying_party_example,publish_app,puppeteer-tester,rapid-connector,rapid-idp-manager,reporting-service,shib-sp,validator-service,verifid #
name: Build Docker Image
on:
  push:
  schedule:
    - cron: '0 0 1 * *'
  issue_comment:
    types: [created]
jobs:
  push:
    concurrency:
      group: ${{ github.event.comment.id }}-${{ github.event_name }}-${{ ( github.ref_name == 'master' || github.ref_name == 'main' ) && github.sha || github.ref_name }}-build
      cancel-in-progress: true
    name: Test, build and push image
    permissions:
      id-token: write
      contents: read
      statuses: write
      issues: read
      pull-requests: write
    secrets: inherit
    uses: ausaccessfed/workflows/.github/workflows/deploy-sync.yml@main
    with:
