#PARTIAL#
node_modules
tmp
coverage
.vscode
yarn.lock
Gemfile.lock
.env*
!.env*.dist
coverage
public/assets
tmp
.sass-cache
.idea
dump.rdb
*.iml
.vscode
.DS_Store
MAKE_SURE_I_AM_ALWAYS_LAST_ONLY_IN_TEMPLATE
