name: 'Distribute Workflows'
on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/distributions/**'
    branches:
      - main
jobs:
  distribution:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
      - env:
          NODE_ENV: production
        run: |
          yarn

      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          NODE_ENV: production
          gpgPrivateKey: ${{secrets.GPG_PRIVATE_KEY}}
          gpgPrivateKeyPassword: ${{secrets.GPG_PRIVATE_KEY_PASSWORD}}
        with:
          github-token: ${{secrets.ALL_REPO_SCOPED_TOKEN}}
          script: |
            const fs = require('fs')
            const diff = require('diff')
            const signature = require('github-api-signature')
            const {gpgPrivateKey, gpgPrivateKeyPassword} =  process.env
            const run = require('./scripts/workflow-distributor.js')
            await run({github, context, signature, gpgPrivateKeyPassword, gpgPrivateKey, repositories: ${{ vars.RENOVATE_REPOSITORIES }}, fs, diff})
